/* COLOR VARIABLES */
:root {
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
}

/* FONT STYLING */
* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* BODY COLOR AND SPACING */
body {
  background-color: var(--color-bg);
  margin: 1rem 2rem;
}

/* INPUT STYLING */
input:not([type="radio"]) {
  background-color: var(--color-button-input);
  padding: 0 1rem;
  border: 1px solid var(--color-btnHover-border-thead);
  border-radius: 40px;
  text-align: center;
}

input:not([type="radio"]):focus {
  outline: 1px solid var(--color-inputFocus);
}

/* BUTTON STYLING */
button {
  background-color: var(--color-button-input);
  border: 1px solid var(--color-btnHover-border-thead);
  cursor: pointer;
  transition: 0.4s;
}

::placeholder {
  color: var(--color-placeholder);
}
/* NOTIFICATION */
#notification {
  box-sizing: content-box;
  position: fixed;
  top: -15%;
  right: 50%;
  transform: translate(50%);
  text-align: center;
  font-weight: 600;
  border-radius: 40px;
  padding: 10px 25px;
  z-index: 1;
}

/* HEADER SIZING AND SPACING */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3rem;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

/* HEADER COMPONENTS GRID */
header > * {
  display: grid;
}

#left-header {
  grid-template-columns: 5fr 1fr;
}

#middle-header {
  justify-content: center;
}

#right-header {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* LEFT-SIDE HEADER */
#patientInput {
  text-align: start;
  border-radius: 40px 0 0 40px;
  box-shadow: 0 0 2px var(--color-boxShadow);
}

#patientInput:focus {
  margin-right: 1px;
}

#inputButton {
  border-radius: 0 40px 40px 0;
  padding-left: 1px;
  box-shadow: 0 0 2px var(--color-boxShadow);
}

/* MIDDLE-SIDE HEADER */
#themes > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  height: 100%;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0 3px var(--color-boxShadow);
}

#themes input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid var(--radio-color);
  outline-offset: 3px;
  border-radius: 50%;
}

#themes input[type="radio"]:checked {
  background-color: var(--radio-color);
}

#themes #dark {
  --radio-color: #555555;
}

#themes #light {
  --radio-color: #dddddd;
}

#themes #pink {
  --radio-color: pink;
}
#themes #brown {
  --radio-color: #61443a;
}

:root:has(#dark:checked) {
  --color-bg: #0f0f0f;
  --color-button-input: #121212;
  --color-tbody: #212529;
  --color-btnHover-border-thead: #3c3c3c;
  --color-thover: #4d4d4d;
  --color-text: #ffffff;
  --color-inputFocus: #ffffff;
  --color-boxShadow: #ffffff;
  --color-placeholder: #808080;
}

:root:has(#light:checked) {
  --color-bg: #f9f9f9;
  --color-button-input: #ececec;
  --color-tbody: #d8d8d8;
  --color-btnHover-border-thead: #b1b1b1;
  --color-thover: #c5c5c5;
  --color-text: #000000;
  --color-inputFocus: #000000;
  --color-boxShadow: #000000;
  --color-placeholder: #333;
}

:root:has(#pink:checked) {
  --color-bg: #f676c1;
  --color-button-input: #ff658d;
  --color-tbody: #f179a1;
  --color-btnHover-border-thead: #ed4d82;
  --color-thover: #f6a6c1;
  --color-text: #000000;
  --color-inputFocus: #ffffff;
  --color-boxShadow: #ffffff;
  --color-placeholder: #333333;
}

:root:has(#brown:checked) {
  --color-bg: #3d2b24;
  --color-button-input: #49332c;
  --color-tbody: #553c33;
  --color-btnHover-border-thead: #6d4d41;
  --color-thover: #795548;
  --color-text: #ffffff;
  --color-inputFocus: #ffffff;
  --color-boxShadow: #ffffff;
  --color-placeholder: #808080;
}

/* RIGHT-SIDE HEADER */
#date {
  font-size: 16px;
  align-self: center;
  box-shadow: none !important;
}

#right-header > * {
  border-radius: 40px;
  box-shadow: 0 0 2px var(--color-boxShadow);
}

/* TABLE STYLING */
table {
  background-color: var(--color-tbody);
  border-collapse: collapse;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 5px var(--color-boxShadow);
}

/* TABLE HEAD COLOR */
thead {
  background-color: var(--color-btnHover-border-thead);
}

/* TABLE COLUMN SIZING */
thead tr,
tbody tr {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1.3fr 0.5fr 0.9fr;
}

/* TABLE CONTENT SPACING */
th,
td {
  padding: 10px;
}

/* FONT AWESOME CHECKLIST */
.fa-check {
  margin: 0 -27px 0 10px;
  color: var(--success);
}

/* TABLE COLUMN */
.statusCol,
.moveCol,
.actionCol {
  display: grid;
  align-items: center;
  gap: 1px;
}

.statusCol {
  grid-template-columns: 1fr 1fr 1fr;
}

.moveCol,
.actionCol {
  grid-template-columns: 1fr 1fr;
}

/* LEFT BORDER-RADIUS */
.waitingButton,
.upButton,
.editButton {
  border-radius: 40px 0 0 40px;
}

/* RIGHT BORDER-RADIUS */
.doneButton,
.downButton,
.deleteButton {
  border-radius: 0 40px 40px 0;
}

/* IN-TABLE BUTTON HEIGHT */
.record button {
  height: 140%;
}

/* HOVER */
#inputButton:hover {
  background-color: var(--color-btnHover-border-thead);
}

#deleteAllButton:hover,
.waitingButton:hover,
.downButton:hover,
.deleteButton:hover {
  background-color: var(--danger);
  color: #fff;
  box-shadow: 0 0 3px var(--color-boxShadow);
}

.doneButton:hover,
.upButton:hover,
.no:hover {
  background-color: var(--success);
  color: #fff;
  box-shadow: 0 0 3px var(--color-boxShadow);
}

#copyButton:hover,
.processButton:hover,
.editButton:hover {
  background-color: var(--warning);
  color: #212529;
  box-shadow: 0 0 3px var(--color-boxShadow);
}

.record:hover {
  background-color: var(--color-thover);
}

/* DISABLED BUTTON */
button:disabled {
  pointer-events: none;
}

.waitingButton:disabled {
  background-color: var(--danger);
  color: #fff;
  box-shadow: 0 0 2px var(--color-boxShadow);
}

.processButton:disabled {
  background-color: var(--warning);
  color: #212529;
  box-shadow: 0 0 2px var(--color-boxShadow);
}

.doneButton:disabled {
  background-color: var(--success);
  color: #fff;
  box-shadow: 0 0 2px var(--color-boxShadow);
}

/* SCREEN READER ONLY */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BACK TO TOP BUTTON */
#back-to-top {
  position: fixed;
  left: -15%;
  bottom: 10px;
  width: 3%;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--color-text);
}

#back-to-top:hover {
  background-color: var(--color-btnHover-border-thead);
}
